<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html"/>
<div class="row">

<!------------------------------ titre de la page d'acceuil ----------------------->
  <div class="wrapper">
    <div class="clip-text clip-text_twelve clip-text--cover">cabinet médical Soins à Grenoble</div>
  </div>
  </div>


<!-----------------------Afichage image pour la page d'acceuil ---------------------->
    <div class="row">
    <div class="center-block"style="width: 800px"><img  src="data/photos/acceuil.jpg" alt="acceuil"> <br> <br><br> <br></div>
    </div>

<!------------------------   Affichage de la description du cabinet infirmier ---------------->

<div class="row">
  <div class="center-block" style="width:900px;" id="texte">
  <font size="5">

   Bienvenu au Cabinet Soins à Grenoble <br>
  --> Notre cabinet met à disposition de ses patients deux équipes d'infirmiers qui se déplacent à domicile et/ou qui vous reçoit au cabinet. <br>

   --> Nous intervenons pour tous types de soins , tels que les pansements, les injections , les soins techniques... <br>

   --> Une équipe de professionnel et de compétents à votre service.

  </font>
  </div>
</div> <br><br><br>

<!------------------------------------- Affichage de l'adresse du cabinet ----------------------------->
<div class="row">
  <div class="center-block" style=" float:left ;"style="width:600px;" id="texte">
    <font size="4">
      <br> <br><br> <br> <b> NOUS SITUER </b>

    <p> Numéro :  {{getAdresse_numero(cms.adresse)}} <br>
      Rue : {{cms.adresse.rue}} <br>
      Ville :  {{cms.adresse.ville}} <br>
      Code Postal :  {{cms.adresse.codePostal}} <br>
      Nous intervenons pour tous types de soins à domicile, et pour des soins techniques.
    </p> <br><br><br>
    <br>
    </font>
  </div>
</div> <br><br><br>

<!----------L'affichage de la carte google maps qui décrit l'adresse du cabinet médical----------------->

<div class="row">
  <div class="center-block" style="width:700px; ">
    <iframe src="https://www.google.com/maps/d/embed?mid=1cdZMzCy8SYWF7wRtsUpP7idyOKNZA7p4" width="640" height="480"></iframe> <br><br><br><br>
  </div>
</div>




